@inject DN_FastReader.FastReader reader
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 未読さん</title>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="icon" type="image/pn" href="~/favicon.png" sizes="256x256" />
    @*<link rel="stylesheet" href="~/css/site2.css" asp-append-version="true" />*@
</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.jpg" width="112" height="28" asp-append-version="true">
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a v-bind:class="classstr" id="config_button" asp-controller="Account" asp-action="Index">
                        {{ text }}
                    </a>
                </div>
            </div>
        </div>
    </nav>




    <div class="container body-content">
        @RenderBody()
        <p>　</p>
        <p style="text-align: center">
            <img src="~/images/logo2.jpg" />
        </p>
        <p>　</p>
        <p>　</p>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script>
        new Vue({
            el: '#config_button',
            data: {
                text: "Config",
                classstr: "button is-light",
            },
            mounted: function () {
                var reloadMain = function () {
                    axios.get("/Home/GetErrorCount").then(ver => {
                        var count = ver.data;
                        if (count == 0) {
                            this.text = "アカウント設定";
                            this.classstr = "button is-light";
                        }
                        else {
                            this.text = count + " 件のエラーが発生中";
                            this.classstr = "button is-danger";
                        }
                    }).catch(err => {
                    });
                };

                reloadMain.call(this);

                var this2 = this;
                window.setInterval(function () {
                    reloadMain.call(this2);
                    //console.log("polling");
                }, 3000);
            }
        });

    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
