@{
    ViewData["Title2"] = "未読さん";
}

<p>　</p>

<div id="messages_list_demo" class="box" v-cloak>
    <p v-if="items.length == 0 && error == null">{{ status }}</p>
    <p v-if="error != null"><strong style="color: red">エラーが発生しています: {{ error }}</strong><br /><br /></p>
    <transition-group name="messages_list" tag="article" v-if="items.length != 0">
        <article class="media" v-for="item in items" v-bind:key="item.id">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img :src="item.serviceImage" alt="Image">
                </figure>
            </div>
            <div class="media-left" v-if="item.serviceImage != item.fromImage">
                <figure class="image is-24x24">
                    <img :src="item.fromImage" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p style="margin-bottom: 0">
                        {{ moment(item.timestamp).format("YYYY/M/D H:mm") }} <strong>{{ item.subject }} {{ item.group }}</strong> {{ item.from }}
                    </p>
                    <p id="message_body">
                        {{ item.body }}
                    </p>
                </div>
            </div>
        </article>
    </transition-group>
</div>

@section scripts {
    <script>
        Vue.prototype.moment = moment;

        new Vue({
            el: '#messages_list_demo',
            data: {
                error: null,
                items: [],
                status: "未読メッセージはありません。",
            },
            mounted: function () {
                var currentVer = -1;

                var reloadMain = function () {
                    axios.get("/Home/GetVersion").then(ver => {
                        var serverVer = ver.data;
                        if (currentVer != serverVer) {

                            axios.get("/Home/GetData/").then(response => {
                                var responseData = response.data;
                                if (responseData.isInitialLoading) {
                                    this.status = "サーバーが各アカウントからメッセージをロード中...";
                                }
                                else {
                                    this.status = "未読メッセージはありません。";
                                }
                                this.items = responseData.messageList;
                                currentVer = serverVer;
                                this.error = null;
                            }).catch(err => {
                                this.error = err.message;
                            });
                        }
                    }).catch(err => {
                        this.error = err.message;
                    });
                };

                reloadMain.call(this);

                var this2 = this;
                window.setInterval(function () {
                    reloadMain.call(this2);
                }, 1000);
            }
        })
    </script>
}

