@{
    ViewData["Title"] = "Message Box";
}

<h1 class="title">
    Fast Reader Test
</h1>

<div id="demo">
    <button v-on:click="show = !show">
        Toggle
    </button>
    <transition name="fade">
        <p v-if="show">hello</p>
    </transition>
</div>



<div id="messages-list-demo" class="box">
    <button v-on:click="shuffle">Shuffle</button>
    <transition-group name="messages-list" tag="article">
        <article class="media" v-for="item in items" v-bind:key="item">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ item }}</strong> <small>@@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
        </article>
    </transition-group>
</div>


<div id="flip-list-demo" class="demo">
    <button v-on:click="shuffle">Shuffle</button>
    <transition-group name="flip-list" tag="ul">
        <li v-for="item in items" v-bind:key="item">
            {{ item }}
        </li>
    </transition-group>
</div>

@section scripts {
    <script type="text/javascript">
        new Vue({
            el: '#demo',
            data: {
                show: true
            }
        })
    </script>

    <script type="text/javascript">
        new Vue({
            el: '#flip-list-demo',
            data: {
                items: [1, 2, 3, 4, 5, 6, 7, 8, 9]
            },
            methods: {
                shuffle: function () {
                    this.items = _.shuffle(this.items)
                }
            }
        })

        new Vue({
            el: '#messages-list-demo',
            data: {
                items: [1, 2, 3, 4, 5, 6, 7, 8, 9]
            },
            methods: {
                shuffle: function () {
                    //this.items = _.shuffle(this.items);
                    this.items = [1, 2, 3, 89, 4, 5, 6, 7, 8, 9];
                }
            }
        })
    </script>
}


@*<div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong> <small>@@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
        </article>

        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong> <small>@@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
        </article>
    </div>*@
